@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url('https://as2.ftcdn.net/v2/jpg/02/81/45/73/1000_F_281457367_5SEoyicVWCPbNWv8GV8C8f0ai4sclTzh.jpg');
    height: 100vh;
    background-size: cover;
}

.tourism-card {
    text-align: center;
    background-color: white;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.main-heading {
    font-family: "Roboto";
}

.paragraph {
    font-family: "Roboto";
}

.button {
    color: white;
    background-color: #25b1cc;
    width: 138px;
    height: 36px;
    border-width: 0px;
    border-radius: 20px;
}

.favourite-place-bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png');
    height: 100vh;
    background-size: cover;
}

.favourite-place-heading {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 28px;
    padding: 24px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 15px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 13px;
}

.favourite-place-image {
    width: 80px;
    height: 100px;
}

.favourite-place-bg-container {
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-waves-background-with-computer-code-technology_53876-119584.jpg?w=1060&t=st=1683558536~exp=1683559136~hmac=dc83df1ef38d7a3b237576234a4db2fe13f7fae74c39d49816ac214eafe4b4b9");
    background-size: cover;
    height: 100vh;
}

.favourite-place-heading {
    color: white;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    padding: 24px;
}

.favourite-place-card-container {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 24px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.favourite-place-card-description {
    font-family: "Roboto";
    font-size: 13px;
    color: #6c6b70;
}

.favourite-place-card-text-container {
    padding: 16px;
}